<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>热搜榜</title>
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="description" content="">
  <link rel="Shortcut Icon" href="/static/index/img/favicon.ico">
  <link rel="stylesheet" href="/static/index/css/extra.chunk.css" /> 
  <link rel="stylesheet" type="text/css" href="/static/index/css/top-hot-page.css"/>
  <style>
    body{
      margin:0;
      background:#121212;
    }
    #root{
      margin-top:70px;
    }
  </style>

  
  
</head>
<body ontouchstart="">
  <div id="youkuheader"></div>
  

	<div id="root">
   <div class="top-hot-page">
    <div class="g-header_3AdmO ">
    	{{template "header.html" .}} 
	</div>
    <div class="title-top"></div>
    <div class="list-box">
     <div class="list">
      <div class="list-item">
       <h5 class="item-title">
		<div class="title-icon-top" style="background-image: url(&quot;/static/index/img/TB1ECojipT7gK0jSZFpXXaTkpXa-84-84.png&quot;);"></div><span>动漫</span></h5>
		{{range $ind, $elem := .comicTop}}
       <a class="item" href="/show?id={{$elem.Id}}" target="_blank"><span class="{{if eq $ind 0 }}one{{end}}{{if eq $ind 1 }}two{{end}}{{if eq $ind 2 }}three{{end}}{{if gt $ind 2 }}more{{end}} order">1</span><span class="keyword">{{$elem.Title}}</span>{{if eq $ind 0 }}<span class="tag" style="background-color: rgb(252, 66, 115);">爆</span>{{end}}{{if eq $ind 1 }}<span class="tag" style="background-color: rgb(255, 129, 85);">火</span>{{end}}</a>
		{{end}}
      </div><div class="list-item">
       <h5 class="item-title">
        <div class="title-icon-top" style="background-image: url(&quot;/static/index/img/TB1c8gCiuH2gK0jSZFEXXcqMpXa-84-84.png&quot;);"></div><span>少女</span></h5>
       {{range $ind, $elem := .girlTop}}
		<a class="item" href="/show?id={{$elem.Id}}" target="_blank"><span class="{{if eq $ind 0 }}one{{end}}{{if eq $ind 1 }}two{{end}}{{if eq $ind 2 }}three{{end}}{{if gt $ind 2 }}more{{end}} order">1</span><span class="keyword">{{$elem.Title}}</span></a>
       	{{end}}
      </div><div class="list-item">
       <h5 class="item-title">
        <div class="title-icon-top" style="background-image: url(&quot;/static/index/img/TB1fRIoiBr0gK0jSZFnXXbRRXXa-87-84.png&quot;);"></div><span>综艺</span></h5>
       <a class="item" href="#" target="_blank"><span class="one order">1</span><span class="keyword">欢乐喜剧人 第六季</span></a>
       <a class="item" href="#" target="_blank"><span class="two order">2</span><span class="keyword">新相亲大会 第三季</span></a>
       <a class="item" href="#" target="_blank"><span class="three order">3</span><span class="keyword">德云社己亥年封箱庆典 2020</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">4</span><span class="keyword">非诚勿扰 2020</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">5</span><span class="keyword">蒙面唱将猜猜猜 第四季</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">6</span><span class="keyword">歌手&middot;当打之年</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">7</span><span class="keyword">花花万物</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">8</span><span class="keyword">奔跑吧 第三季</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">9</span><span class="keyword">这！就是街舞 第二季</span></a>
       <a class="item" href="#" target="_blank"><span class="last order">10</span><span class="keyword">中国好声音 2019</span></a>
      </div><div class="list-item">
       <h5 class="item-title">
        <div class="title-icon-top" style="background-image: url(&quot;/static/index/img/TB1Yl.lirr1gK0jSZFDXXb9yVXa-84-84.png&quot;);"></div><span>电影</span></h5>
       <a class="item" href="#" target="_blank"><span class="one order">1</span><span class="keyword">叶问4：完结篇</span></a>
       <a class="item" href="#" target="_blank"><span class="two order">2</span><span class="keyword">流感</span></a>
       <a class="item" href="#" target="_blank"><span class="three order">3</span><span class="keyword">听说</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">4</span><span class="keyword">传染病</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">5</span><span class="keyword">夺命地铁</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">6</span><span class="keyword">大蛇2</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">7</span><span class="keyword">黑暗塔</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">8</span><span class="keyword">速度与激情：特别行动</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">9</span><span class="keyword">哪吒之魔童降世</span></a>
       <a class="item" href="#" target="_blank"><span class="last order">10</span><span class="keyword">新僵尸先生</span></a>
      </div><div class="list-item">
       <h5 class="item-title">
        <div class="title-icon-top" style="background-image: url(&quot;/static/index/img/TB1UBQFiAT2gK0jSZFkXXcIQFXa-84-84.png&quot;);"></div><span>热门搜索</span></h5>
       <a class="item" href="#" target="_blank"><span class="one order">1</span><span class="keyword">火影忍者</span></a>
       <a class="item" href="#" target="_blank"><span class="two order">2</span><span class="keyword">名侦探柯南</span></a>
       <a class="item" href="#" target="_blank"><span class="three order">3</span><span class="keyword">伍六七之最强发型师</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">4</span><span class="keyword">一拳超人 第二季</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">5</span><span class="keyword">蜡笔小新 第六季</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">6</span><span class="keyword">猫和老鼠50周年纪念版</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">7</span><span class="keyword">欧布奥特曼</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">8</span><span class="keyword">BLEACH 境&middot;界</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">9</span><span class="keyword">狐妖小红娘</span></a>
       <a class="item" href="#" target="_blank"><span class="last order">10</span><span class="keyword">斗破苍穹 动态漫画</span></a>
      </div><div class="list-item">
       <h5 class="item-title">
        <div class="title-icon-top" style="background-image: url(&quot;/static/index/img/TB1AOwpixD1gK0jSZFyXXciOVXa-84-84.png&quot;);"></div><span>少儿</span></h5>
       <a class="item" href="#" target="_blank"><span class="one order">1</span><span class="keyword">小猪佩奇 第七季</span></a>
       <a class="item" href="#" target="_blank"><span class="two order">2</span><span class="keyword">熊出没之探险日记2</span></a>
       <a class="item" href="#" target="_blank"><span class="three order">3</span><span class="keyword">汪汪队立大功视频 第一季</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">4</span><span class="keyword">超级飞侠 第七季</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">5</span><span class="keyword">精灵梦叶罗丽 第七季</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">6</span><span class="keyword">宝宝巴士启蒙音乐剧之蜜蜜和伙伴们</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">7</span><span class="keyword">小伶玩具</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">8</span><span class="keyword">喜羊羊与灰太狼之奇趣外星客</span></a>
       <a class="item" href="#" target="_blank"><span class="more order">9</span><span class="keyword">小恐龙大冒险</span></a>
       <a class="item" href="#" target="_blank"><span class="last order">10</span><span class="keyword">萌鸡小队 第二季</span></a>
      </div>
     </div>
    </div>
    
	{{template "foot.html" .}}

</body>
</html>
<script src='/static/index/js/foot.js' type='text/javascript'></script>